/* Hi, good day. My name is Kwency Maye Dahilan, currently an IDP3 Level 1 student and this is my FIP.  I dedicate this project to my family, friends, loved ones, and props to all my professors who helped me gain insights and pushing me to do better. I aspire to be a UI/UX Designer or Web Designer in the future and I really hope to reach that success. I have a strong confidence that with Fanshawe's quality of education and with the teacher's encouragement and high-level skills, my ONE DAY will become DAY ONE soon. :) I try to be as organized as possible in my css so enjoy!*/

/* Table of Contents

  	1. General Styles
    2. Grid
    3. Header
	4. Main Navigation
	5. Hero
	6. Modal for Gift Certificate
	7. Menu/Products
	8. Services
	9. Map Address
	10. Contact Form - Email Form 
	11a. Footer - Social Media
	11b. Footer - Opening Hours
	11c. Footer - About Us
	11d. Footer - Contact Us
	11e. Footer - Newsletter
	
*/

/*  --- 1. General Styles ---- */

@charset "UTF-8";
/* CSS Document */


.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

div,p,body,header,footer,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;

}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}



#container {
	margin: 0 auto;
	width: 1200px;
}

/* --- 2. Grid--- */

.grid-con {
	display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
    
}

/* ---3. Header--- */

#main-header {
    position: sticky;
    top: 0px;
    height: 82px;
    background-color: #F3EBE0;
	z-index: 999999 !important;
}

#logo {
    margin-top: 20px;
    margin-left: 30px;
    align-items: center;
    grid-column: 1/3;
}

/* ---4. Main Navigation--- */
#main-nav {
    align-self: center;
	grid-column: 4/10;
    /* margin-left: 30px; */
	position: relative;
}

#main-nav ul {
    list-style: none;
    padding: 0;
	
}

#main-nav ul li {
    display: inline;
	padding-left: 35px;
	
}

#main-nav ul li a {
    color: #435350;
	font-size: 14px;
    font-weight: 700;
}

#main-nav ul li a:hover {
    color:  #F6871F;
}

.contact-now {
    align-self: center;
    width: 80px;
	height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #F6871F;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

#contact-now-top {
    color: white;
}

#contact-now-top:hover {
    background-color: #F6871F;
    color: #435350;
}

/* ---5. Hero--- */

/* Specific to index page desktop  */

#hero {
	/* margin-top: 100px; */
	background-image: url(../images/hero-bg.jpg);
	height: 782px; 
}

#hero-text {
	margin-top: 100px;
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
}

.title-h2 {
	font-family: 'Yellowtail';
	font-size: 120px;
	color: #f9c241;
	margin: 0 auto;
	text-shadow: 4px 4px 4px #7d6326;
}

.title-h2 span {
	font-family: 'Oswald';
	font-size: 90px;
	color: #ffffff;
	font-weight: 1000;
	margin: 0 auto;
	line-height: 110px;
	text-shadow:  2px 2px 2px rgb(33, 33, 33);
}


.know-more {
	height: 90px;
	width: 250PX;
    background-color: #f1c761;
    color: #1e1e1e;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 20px;
}

#hero-text p {
	margin-top: 10px;
	margin-right: 50px;
	line-height: 40px;
	color: #fff;
	text-shadow:  2px 2px 2px rgb(33, 33, 33);
	margin-bottom: 10px;
	
}

#know-more-button:hover {
    color: #fff;
	background-color: darkred;
}


#hero-image {
	margin-top: 100px;
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
	box-shadow: 30px 30px #f1c761;
}

/* ---6. Modal for Gift Certificate--- */
#gift-modal {
	position: sticky;
	top: 50%;
	padding-left: 96%;
	border: darkred;
	color: white;
}


.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 109vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-image: url('../images/gift-cert.png');
    background-repeat: no-repeat;
	background-position: center;
    background-size: 150vh;
    

    z-index: 5000;

    display: none;
}
  

.lightbox_close {
	
    position: relative;
    top: 10%;
    left: 84%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}

.lightbox_close:hover {
	opacity: 0.5; color: red;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target {
	display: block;
}

/* ---7. Menu/Products--- */
#products {
	margin-top: 50px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
}

.products-h2 {
	font-family: 'Yellowtail';
	font-size: 80px;
	color: #f1c761;
	margin: 0 auto;
	text-shadow: 4px 4px #7d6326;
}
.products-h3 {
	font-size: 90px;
	color: #fff;
	font-weight: 1000;
	margin: 0 auto; 
	text-align: center;
	grid-column: 1/-1;
}


#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 507px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

.product-box {
	background-color: white;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-top: 40px;
	padding-bottom: 20px;
	
}

.product-box:hover {
	background-color: #f1c761;
	box-shadow: 5px 5px 5px black;
}

.imageContainer {
	position: relative;
	
}

.gallery-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }
  

  
.imageContainer:hover .gallery-image:hover {
	opacity: .8;
}
  
.imageContainer:hover .addtoCart {
	opacity: 1;
}

.addtoCart {
	transition: .7s ease;
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.textCart {
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 16px 36px;
	
  }

.textCart:active {
	background-color: darkred;
	cursor:grab;
}

.add-cart {
    background-color: #f1c761;
    color: #1e1e1e;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor:grab;
}

#add-cart-button:hover {
    color: #fff;
	background-color: darkred;
	cursor:grab;
}

/* ---8. Services--- */

#services-con {
	background-color: #fbeecf;
	padding-top: 10px;
	padding-bottom: 10px;
}

#services-con p {
	margin-bottom: 10px;
	margin-right: 50px;
}


#services-text {
	margin-top: 50px;
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}

.service-title-h3 {
	font-size: 90px;
	color: #1e1e1e;
	font-weight: 1000;
	margin: 0 auto;
	line-height: 90px;
	margin-bottom: 10px;
}

#services-text ul li {
	list-style: none;
}

#services-text ul li::before {
		content: "\27A4  ";
		padding: 2px;
		
}

.view-all {
	height: 90px;
	width: 250PX;
    background-color: #f1c761;
    color: #1e1e1e;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 20px;
}

#view-all-button:hover {
    color: #fff;
	background-color: darkred;
}

#about-image {
	margin: 50px 0 50px 0;
	grid-column: 8/-1;
	height: 700px;
}

/* ---9. Address on Map--- */

#contact {
	margin-top: 50px;
	margin-bottom: 100px;
}

.contact-h2 {
	font-family: 'Yellowtail';
	font-size: 80px;
	color: #f1c761;
	margin: 0 auto;
	text-shadow: 4px 4px #7d6326;
}
.contact-h3 {
	font-size: 90px;
	color: #fff;
	margin-top: -30px; 
	margin-bottom: 60px;
	grid-column: 1/8;
}


#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}


#contact-form-text p {
    grid-column: 1/8;

    margin-bottom: 80px;
}

#contact-form-adress-left, #map {
    grid-column: 1/8;
}

#contact-form-fields-right {
    grid-column: 8/-1;
}


.mapouter {
	padding-top: 30px;
	text-align: right;
	height: 660px;
	width: 812px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height: 660px;
	width: 812px;
}


/* ---10. Contact Form - Email Form --- */
#contact-form-fields-right form {
    display: flex;
    flex-direction: column;
}

#contact-form-fields-right input, textarea {
    padding: 6px;
    border: 5px solid #f1c761;
    /* border-radius:  5px; */
    background-color: #f7f7f7;
    margin-bottom: 15px;
    font: inherit;
}

#contact-form-fields-right textarea {
    height: 300px;
}

#contact-form-fields-right label {
    color: white;
	font-size: 26px;
}

#contact-form-fields-right input[type="submit"] {
    width: 272px;
    padding: 16px 32px;
    background-color: #f1c761;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
}

#contact-form-fields-right input[type="submit"]:hover {
    background-color: darkred;
    border-radius: 0;
}

/* ---11. Footer--- */

/*Common page elements  */

#footer-con {
	/* background-image: url(../images/red-texture-background.png); */
	background-color: rgb(94, 2, 2);
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	position: relative;
}

#footer-logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

/* ---11a. Footer - Social Media--- */
#footer-icons {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	height: 45px;
	margin-bottom: 100px;
}

#footer-icons ul  {
	margin: 0 auto;
}

#footer-icons ul li {
	display: inline;
	list-style: none;
	margin-left: 60px;
	float: right;
	font-size: 50px;
}

.fa:hover {
	color: #f1c761;
}

/* HR rules */
.title-line {
    grid-column: 1/13;
    border: none;
    border-top: solid 3px #f1c761;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}


.footerIcon-h4 {
	text-align: right;
	font-size: 30px;
	margin: 0 0 20px 0;
} 




/* ---11b. Footer - Opening Hours--- */

#footer p {
	font-size: 24px;
	margin: 0 0 20px 0;
	line-height: 35px;
}

.footer-left {
	grid-column: 1/4;
	margin-bottom: 20px;
}

.footer-left h4 {
	text-align: left;
	font-size: 30px;
	margin: 0 0 20px 0;
}

/* ---11c. Footer - About Us--- */
.footer-h4 {
	text-align: left;
	font-size: 30px;
	margin: 0 0 20px 0;
} 

.footer-center{
	grid-column: 5/8;
	margin-bottom: 20px;
}

/* ---11d. Footer - Contact Us--- */

.footer-right{
	grid-column: 10/13;
	margin-bottom: 50px;
}

.footer-right span[data-descr] {
	position: relative;
	cursor:copy;
}

.emailReservations:hover {
	color: #f9c241;
	cursor: copy;
}

.emailReservations:hover::before {
	content:"\2709";
	top: -20px;
}


.phoneNumber:hover {
	color: #f9c241;
	
}

span[data-descr]:hover::after,

span[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  top: -20px;
  left: 40px;
  min-width: 200px;
  color: #fedc8c;
  font-size: 16px;
  z-index: 1;
}

/* ---11e. Footer - Newsletter--- */

#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom: 100px;
}



#footer-newsletter2 {
	grid-column: 5/7;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom: 100px;
}

#footer-newsletter1 input {
	width: 514px;
	height: 60px;
    padding: 6px;
    border: 5px solid #f1c761;
    /* border-radius:  5px; */
    background-color: #f7f7f7;
    margin-bottom: 15px;
    font: inherit;
}

#footer-newsletter2 h4 {
	visibility: hidden;
}
#footer-newsletter1 textarea {
    height: 300px;
}

#footer-newsletter1 label {
    color: white;
	font-size: 26px;
}

#footer-newsletter2 input[type="submit"] {
    width: 260px;
	height: 80px;
    padding: 16px 32px;
    background-color: #f1c761;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
	font: inherit;
}

#footer-newsletter2 input[type="submit"]:hover {
    background-color: darkred;
    border-radius: 0;
}

/* Remaining css is for Menu.html and some tags have been declared already above */

.gallery-title-h2 {
	font-family: 'Yellowtail';
	font-size: 80px;
	color: #f9c241;
	margin: 0 auto;
	text-shadow: 4px 4px #7d6326;
}

.gallery-title-h3 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 1000;
	margin: 0 auto;
	line-height: 90px;
}



#about-title {
	text-align: center;
}


#about-image1, #about-image3 {
	margin: 50px 0 50px 0;
	grid-column: 8/-1;
	
	/* Remove as content will dictate height */
	height: 700px;
}
  

#footer-social {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}


/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("../images/heromenu.png");
	height: 580px;
	/* margin-bottom: 100px; */
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: -372px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

#movingBeer
{
	position:relative;
	top: -45px;
	right: 163px;
  	animation-name: beer;
  	animation-duration: 4s;
 	animation-iteration-count: infinite;
	
  
}

@keyframes beer {
	0%   {top:-45px; right:163px;}
	25%  {top:-45px; right: 147px; }
	50% { top:-26px; right: 147px;}
	75%  {top: -26px; right:182px; }
	100% {top:-45px; right:182px;} 

  }

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: left;
	color: #f9c241;
	font-size: 90px;
	margin: 0;
	
}


#products h4  {
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-size: 26px;
}

#products h5  {
	font-weight: 100;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
	
}

#gallery h3 {
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-size: 26px;
}

#gallery h4 {
	font-weight: 100;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
}


#gallery p {
	font-family: 'Roboto';
	text-align: center;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 20px;
}

#products p {
	font-family: 'Roboto';
	text-align: center;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 22px;
}


.gallery-box {
	background-color: white;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

  
.gallery-box:hover {
	background-color: #f1c761;
	box-shadow: 5px 5px 5px black;
}

  